
<!DOCTYPE html>
<html>
  <head>
    <!-- Codificación de caracteres -->
    <meta charset="UTF-8">
    
    <!-- Título de la página -->
    <title>Problema y Solución</title>
    
    <!-- Habilitar diseño responsive -->
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    
    <!-- Descripción de la página para SEO -->
    <meta name="description" content="Documento que presenta un problema y su solución de manera detallada.">
    
    <!-- Palabras clave para SEO -->
    <meta name="keywords" content="Problema, Solución, Desarrollo Web, Algoritmos">
    
    <!-- Autor del documento -->
    <meta name="author" content="Jean Carlos Lerma, Juan Camilo Garcia, Jersson Gutierrez">
    
    <!-- Favicon -->
    <link rel="icon" href="/path/to/favicon.ico" type="image/x-icon">
    
    <!-- Manifest para PWA -->
    <link rel="manifest" href="/path/to/manifest.json">
    
    <!-- Colores del tema para navegadores móviles -->
    <meta name="theme-color" content="#ffffff">
    <meta name="msapplication-navbutton-color" content="#ffffff">
    <meta name="apple-mobile-web-app-status-bar-style" content="default">
    
    <!-- Enlace a hoja de estilos externa -->
    <link rel="stylesheet" href="/path/to/styles.css">
    
    <!-- Enlace a fuentes externas -->
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700&display=swap">
    
    <!-- Scripts externos (opcional) -->
    <script src="/path/to/script.js" defer></script>
  </head>
  
<body>
  <h2>Seleccionar archivo</h2>
  <button id="chooseFileBtn">Elegir archivo</button>
  <p id="filePath"></p>

  <h3>Seleccionar Problema</h3>
  <select id="problema">
    <option value="p1">Palindromo más largo en el texto</option>
    <option value="p2">Planeando una fiesta de la compañía</option>
  </select>

  <h3>Seleccionar Solución</h3>
  <select id="solucion">
    <option value="brute-force">Solución Fuerza Bruta</option>
    <option value="dynamic">Solución Dinamica</option>
    <option value="greedy">Solución Voraz</option>
  </select>

  <button id="solveBtn">Resolver</button>

  <script src="./renderer.js"></script>
</body>
</html>
