
<!DOCTYPE html>
<html lang="es">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Título de la página</title>
</head>
  
<body>
  <h2>Seleccionar archivo</h2>
  <button id="chooseFileBtn">Elegir archivo</button>
  <p id="filePath"></p>

  <h3>Seleccionar Problema</h3>
  <select id="problema">
    <option value="p1">Palindromo más largo en el texto</option>
    <option value="p2">Planeando una fiesta de la compañía</option>
  </select>

  <h3>Seleccionar Solución</h3>
  <select id="solucion">
    <option value="brute-force">Solución Fuerza Bruta</option>
    <option value="dynamic">Solución Dinamica</option>
    <option value="greedy">Solución Voraz</option>
  </select>

  <button id="solveBtn">Resolver</button>

  <script src="./renderer.js"></script>
</body>
</html>
