
<!DOCTYPE html>
<html>
<head>
  <meta charset="UTF-8">
  <title>Problema y Solución</title>
</head>
<body>
  <h2>Seleccionar archivo</h2>
  <button id="chooseFileBtn">Elegir archivo</button>
  <p id="filePath"></p>

  <h3>Seleccionar Problema</h3>
  <select id="problema">
    <option value="p1">Problema 1</option>
    <option value="p2">Problema 2</option>
  </select>

  <h3>Seleccionar Solución</h3>
  <select id="solucion">
    <option value="s1">Solución 1</option>
    <option value="s2">Solución 2</option>
  </select>

  <script src="renderer.js"></script>
</body>
</html>
